.header{
    padding-top: 6rem;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    width:93vw;
    padding-bottom: 8rem;

&__text {
    width: 59vw;
}    

&__pic{
    width: 35vw;
}

}