@use "../../styles/variables" as *;

.card-list {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    padding-bottom: 170px;
  


  @media screen and (max-width: 765px) {
    grid-template-columns: repeat(2, auto);
  }

}