
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Trocchi&display=swap');
  
$font-body: "trocchi", serif;

$color-white: #ffffff;
$color-black: #2e2e2e;

$primary-color: #F5F3E8;
$color-secondary: #747a8e;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);
$color-highlight: #FF8686;
$color-pink:#ECC9F2;

h3{
    font-size: 2.2rem;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 10%;
    font-weight: 400;
}