
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Trocchi&display=swap');
  
$font-body: "trocchi", serif;

$color-white: #ffffff;
$color-black: #2e2e2e;

$primary-color: #F5F3E8;
$color-secondary: #747a8e;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);
$color-highlight: #8C52FF;