@use "../../styles/variables" as *;

.cyber {
    padding-left: 22rem;
    padding-top: 10px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12rem;
    justify-content: flex-start;
    gap:1rem;

  &__pic {
    width: 10vw;
    border-radius: 95%;
}


}

  .cyber__pic--desc {
    width:20vw;
    text-align: center;
    border: 2px solid cadetblue;
    padding: 15px;
    border-radius: 5%;

  }


  