@use "../../styles/variables" as *;

.cyber {
    padding-top: 10px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8rem;
    justify-content:center;
    gap:1rem;
    font-size: 1.5rem;

  &__pic {
    width: 13vw;
    border-radius: 95%;
}


}

  .cyber__pic--desc {
    width:20vw;
    text-align: center;
    border: 2px solid cadetblue;
    padding: 15px;
    border-radius: 5%;

  }


  @media screen and (max-width: 765px) {
  .cyber__pic--desc {
      font-size: 0.8rem;
      width:38vw;
    }
  }